.page{

    width: 100%;
    height: 100%;
    left: 0;
    background-color: #ffffff;
    padding-left: 5%;
    padding-right: 5%;


}


@media (max-width: 1060px) {
    .page{
        padding-top: 120px;
    }
}


.text-wrap {
    white-space: nowrap;
}



.p-inputnumber input {
    width: 100%;
}

.nav_page{
    padding: 0 10% 0 10% ;
}


.grid{
    margin: 0 0 0 0 ;
    display: flex;
    align-items: center;
    justify-content: center;

}

.item {
    /*border: 1px solid silver;*/
    margin: 10px 15px 10px 15px ;
    cursor : pointer;
    height: 460px;
    width: 220px;
}

.itemCarousel {
    /*border: 1px solid silver;*/
    /*margin: 5px;*/
    cursor : pointer;
    height: 460px;
    width: 220px;
}
.itemCarousel img {
    border-radius: 10px;
    height: auto;
    width: 100%;

}


.card-price{
    display: flex;
    padding-top: 4px;
}
.item img {
    border-radius: 15px;
    height: auto;
    width: 100%;
    /*border: 1px solid silver;*/
}

.card img {
    border-radius: 15px;
    height: auto;
}

.card {
    border: none;
}

.price-low {
    font-weight: 700;
    margin-right: 10px;
    margin-left: 5px;
    color: brown;
}

.price-max{
    color: #868695;
    font-size: 14px;
    line-height: 20px;
    margin-top: 3px;
}

.price-sale{
    margin-left: auto;
    margin-right: 10px;
    background-color: #f44;
    font-size: 12px;
    line-height: 20px;
    color: #fff;
    border-radius: 10px;
    padding: .8px 4px 1.3px;
    font-weight: 600;
}
.product-brand{
    color: #242424;
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    margin-left: 5px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.spanGreen{
    color: #70c573;
    font-size: 16px;
    font-weight: 600;
    line-height: 20px;
    margin-left: 5px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.spanRed{
    color: brown;
    font-size: 16px;
    font-weight: 500;
    line-height: 20px;
    margin-left: 10px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.product-name{
    color: #9d9da5;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    margin-left: 5px;
    margin-top: 3px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}


.a-tab {

    color: #fff;

    font-weight: 400;
    font-size:14px;

}

.product-rate{
    background-image: url('star.svg');
    background-position: 50%;
    background-repeat: no-repeat;
    margin-top: 2px;
    margin-left: 3px;
    width: 14px;
    height: 14px;
    background-size: contain;
    font-size: 14px;
    line-height: 16px;
}
.product-rate2{

    margin-top: 1px;
    margin-left: 8px;
    background-size: contain;
    font-size: 14px;
    line-height: 16px;
}
.product-count{
    color: #242424;
    font-size: 14px;
    margin-left: 3px;
    text-align: left;
}
.product-rate3{
    font-size: 14px;
    line-height: 20px;
    color: #9d9da5;;
}
.product-rate3:before {
    content: "";
    vertical-align: middle;
    background-color: #9d9da5;
    border-radius: 50%;
    width: 4px;
    height: 4px;
    /*margin: 0 4px 2px;*/
    display: inline-block;
    margin-left: 8px;
    margin-top: -2px;

}



.product-order {
    margin-top: 15px;
    cursor : pointer;

    display: block;
    text-align: center;
    text-decoration: none;
    color: #fff;
    padding: 5px;
    background-color: #a73afd;

    border-radius: 10px;
    width: 94%;
    font-weight: 400;
    /*margin-left: 3%;*/
}

.filter_button{
    color: #242424;
    padding:10px;
    background-color: #f1f1f5;
    border-radius: 16px;
    align-items: center;
    height: 40px;
    font-size: 16px;
    line-height: 20px;
    display: flex;
    border: none;
    font-family: inherit;
    cursor: pointer;
    margin-left:20px;
}

.filter_button:hover{
    background-color: #e0ebf6;
}

.filter_button_ok{
    color: #242424;
    /*padding:10px;*/
    background-color: #cee3c5;
    border-radius: 12px;
    align-items: center;
    height: 30px;
    font-size: 16px;
    line-height: 20px;
    font-family: inherit;
    cursor: pointer;
    border: none;
}

.filter_button_ok:hover{
    background-color: #a4cd92;
}


.down_icon{
    margin-left:5px;
    margin-top:4px;

}
.line {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    height : 0px;
    border-radius: 15px;
    background: #aeb8d3;
    color: #ffffff;
    font-weight: 600;


}

.infoLine {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height : 55px;
    border: 1px solid silver;
    border-radius: 15px;
    background: #485f98;
    color: #ffffff;
    font-weight: 600;
    font-size: 20px;

}
.allStartProducts{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 400px;
    height : 45px;
    border: 1px solid silver;
    border-radius: 15px;
    background: #485f98;
    color: #ffffff;
    font-weight: 600;
    font-size: 20px;

}

.container {
    display: flex;
    justify-content: space-between; /* Распределяет пространство между блоками */
    align-items: stretch; /* Выравнивает блоки по высоте */
    width: 100%;
    gap: 10px; /* Добавляет отступы между блоками */
    box-sizing: border-box;
    padding-top: 10px;
}

.startSidebar {
    /* Эти блоки гибкие. Они займут все доступное место,
       которое не занял центральный блок, и могут сжиматься */
    flex-grow: 1;
    flex-shrink: 1;
    min-width: 50px; /* Минимальная ширина для боковых блоков (можно убрать, если они должны исчезать полностью) */
    /*padding: 15px;*/
    padding-bottom: 7px;
    text-align: center;
    overflow: hidden; /* Важно: скрывает части изображения, выходящие за пределы контейнера */
}

.mainRightImg {
    /* Изображение занимает 100% ширины и высоты родительского div */
    width: 100%;
    height: 100%;
    /* object-fit: cover гарантирует, что изображение покроет всю область контейнера, сохраняя пропорции, и при необходимости обрежется. */
    object-fit: cover;
    /* object-position: right гарантирует, что видимая часть изображения всегда будет привязана к правому краю контейнера. */
    object-position: left;
}

.mainLeftImg {
    /* Изображение занимает 100% ширины и высоты родительского div */
    width: 100%;
    height: 100%;
    /* object-fit: cover гарантирует, что изображение покроет всю область контейнера, сохраняя пропорции, и при необходимости обрежется. */
    object-fit: cover;
    /* object-position: right гарантирует, что видимая часть изображения всегда будет привязана к правому краю контейнера. */
    object-position: right;
}

.main-content {
    /* Этот блок не будет расти, но его ширина фиксирована */
    flex-grow: 0;
    flex-shrink: 0; /* Важно: запрещаем ему сжиматься */
    width: 1000px; /* Заданная фиксированная ширина */
    min-width: 1000px; /* Гарантирует, что он всегда будет минимум 600px */
    text-align: center;
    box-sizing: border-box;
}

@media (max-width:1200px) {
    /*.startSidebar {*/
    /*    display: none*/
    /*}*/
    .main-content{
        width: 600px; /* Заданная фиксированная ширина */
        min-width: 600px; /* Гарантирует, что он всегда будет минимум 600px */
    }
    /*.container{*/
    /*    justify-content: center; !* Распределяет пространство между блоками *!*/
    /*}*/

}

@media (max-width:768px) {
    .startSidebar {
        display: none
    }
    .main-content{
        width: 400px; /* Заданная фиксированная ширина */
        min-width: 400px; /* Гарантирует, что он всегда будет минимум 600px */
    }
    .container{
        justify-content: center; /* Распределяет пространство между блоками */
    }

}


.back-ghost {
    display: inline-block;
    margin-top : 20px;
    margin-left : 50px;
    padding: 6px 15px;
    color: #133f71;
    background-color: transparent;
    /*border: 2px solid #007bff; !* Синяя рамка *!*/
    border-radius: 20px; /* Сильно скругленные углы (овал) */
    cursor: pointer;
    transition: all 0.3s ease;
    font-weight: 500;
    font-size: 18px;
}

.back-ghost:hover {
    background-color: #0c4f9c;
    color: white;
}