.product_grid{
    margin: 0 0 0 0 ;
    display: flex;
    /*align-items: center;*/
    justify-content: center;


}
.main_item {
    /*border: 1px solid silver;*/
    margin: 5px 5px 5px 5px ;
    width: 33%;
    /*height: 500px;*/
    /*display: block;*/
    unicode-bidi: isolate;

    /*box-sizing: border-box;*/
}
h2{
    font-family: var(--font-family);
    font-feature-settings: var(--font-feature-settings, normal);
    font-size: 1.5rem;
    font-weight: bolder;
    color: #3c3f42;
}


.exmpl {
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 350px;
}
.exmpl img {
    object-fit: cover;
    width: 100%;
    height: auto;
}

.responsive-two-column-grid {
    display:block;
    padding:1rem;
}

.responsive-only-two-column-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

@media (min-width:768px) {
    .responsive-two-column-grid {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
}
.footer_info{
    cursor: pointer;
    font-size: 14px;
    padding-top: 5px;
    color: #225c8e;
}
.footer_s{

    font-size: 16px;
    font-weight: bold;
    padding-top: 30px;
    color: #375d88;
}

.responsive-three-column-grid {
    display:block;
    padding:0.5rem
}

.flex-three-column-grid {
    justify-content:center;
    /*display: grid;*/
    text-align: center;
    margin: 0 auto;
    display: block;

}

@media (min-width:1024px) {
    .responsive-three-column-grid {
        display: grid;
        grid-auto-rows: 1fr;
        grid-template-columns: 1fr 1fr 1fr;
    }
    .flex-three-column-grid{
        display: flex;
        justify-content:center;
        /*padding-left: 10px;*/
        padding-bottom: 20px;
    }
}

.left-sidebar {
    display:flex;
    flex-wrap:wrap;
    width:100%;
    padding:1rem;

}
@media (min-width:768px) {
    .left-sidebar > *:nth-child(1) {
        width:50%;
    }
    .left-sidebar > *:nth-child(2) {
        width:50% ;
        order:-1;
    }
}


.mainFont {
    font-family: var(--font-family);
    font-feature-settings: var(--font-feature-settings, normal);
    font-size: 14px;
    font-weight: normal;

}
.main_photo{
    height: 100%;
    width: 100%;
    object-fit: contain;
    border-radius: 15px;
}
.little_photo{
    cursor : pointer;
    /*height: 70%;*/
    /*height: 30px;*/
    margin-left: 5px;
    width: 90%;
    object-fit: contain;
    border-radius: 5px;

}
.little_photo_border{
    border: 2px solid rgba(11, 144, 189, 0.5);
}

.size_info{
    /*border: 2px solid rgb(103, 103, 116);*/

    display: flex;
    flex-wrap: wrap;
    /*width: 100%;*/
}

.size_about{
    font-size: 12px;
    font-weight: 460;
    text-align:center;
    border: 1px solid rgb(195, 195, 202);
    border-radius: 5px;
    width: 45px;
    /*height: 45px;*/
    margin: 5px;
    padding-bottom: 8px;

}
.supplier_info{
    vertical-align: center;
    font-size: 14px;
    font-weight: 460;
    height: 45px;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.table_info{
    vertical-align: center;
    font-size: 12px;
    font-weight: 460;
    height: 45px;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.dataTable{
    border: 1px solid #b8bec8;
    border-radius: 2px;
}
.p-datatable .p-datatable-tbody > tr.p-highlight {
    background: #91a6ed;
    color: #ffffff;
}

.all_colors_info{

    text-align: center;
    font-size: 15px;
    font-weight: 550;
    margin: 5px;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.little_photo:hover{
    border: 2px solid #868695;
}

.main_photo_div
{
    width:85%;
    margin:5px;
    aspect-ratio: 3/4;
}
.all_div{
    /*width: 100%;*/
    height: 100%;
    /*border: 1px solid red;*/
}
.item_data {
    /*border: 1px solid #a73afd;*/
    /*margin: 10px 15px 10px 15px ;*/
    /*cursor : pointer;*/

    height: 100px;
    width: 100%;
}
.chart_item{
    height: 97px;
    width: 100%;

}
.chart_info{
    /*display: flex;*/
    /*padding-top: 4px;*/
    padding-top : 10px;
    margin : 0
}
.chart_info_text{
    color: #676774;
    font-size: 12px;
    font-weight: 460;
    margin-left: 5px;

}
span.bold {
    font-weight: bold;
    font-size: 13px;
}
.chart_main_text{
    color: #2e2e40;
    font-size: 14px;
    font-weight: 460;

}
.little_photo_div{
    width:15%;
    height: 100%;
    margin:5px;

}

.product_name{
    color: #191919;
    max-height: 56px;
    margin:10px;
    font-size: 18px;
    font-weight: bold;
    /*line-height: 8px;*/
}

.product_color{
    color: #191919;
    max-height: 56px;
    margin: 10px;
    font-size: 14px;
    font-weight: 400;
    line-height: 28px;

}

.product_size_text{
    color: #676774;
    margin-top: 20px;
    margin-left: 10px;
    font-size: 14px;
    font-weight: 460;
    line-height: 28px;
}

.product_discount_wb_text{
    color: #3d3d43;
    font-size: 14px;
    font-weight: 480;
    line-height: 28px;
}


.product_size_count{
    color: #bf20b4;
    margin-top: 2px;

    font-size: 10px;
    font-weight: bold;
    line-height: 10px;
}