App {
  font-family: system, -apple-system, BlinkMacSystemFont, Segoe UI, Segoe WP, Roboto, Ubuntu, Oxygen, Cantarell, Fira Sans, Helvetica Neue, Helvetica, Lucida Grande, Droid Sans, Tahoma, Microsoft Sans Serif, sans-serif;
  font-size: 16px;
  color: #242424;
}
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
/*HEADER*/
.header .header-desktop {
  position: relative;
  z-index: 10;
  display: grid;
  grid-template-columns: 200px 1fr auto;
  align-items: center;
  gap: 20px
}


@media (max-width: 1060px) {
  .header .header-desktop {
    display:none
  }
  .header {
    position:fixed;
    z-index: 20;
    top: 0;
    left: 0;
    right: 0;

  }
}

.header .header-desktop .logo-image {
  width: 136px;
  max-width: 100%;
  height: auto
}
.header .header-logo {
  display: grid
}
.header .header-control:hover {
  /*cursor: pointer;*/
  /*color: #2c49a3*/
}

.header .header-mobile {
  /*position: fixed;*/

  z-index: 20;
  width: 100%;
  height: 92px;
  padding: 0 20px;
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: 1fr auto;
  align-items: center;
  gap: 8px
}

@media (min-width: 1060px) {
  .header .header-mobile {
    display:none
  }
}

.header .header-mobile .logo-image {
  width: 136px;
  max-width: 100%;
  height: auto
}


.header .header-mobile .header-control {
  display: grid;
  justify-items: center;
  align-items: center;
  width: 52px;
  height: 52px;
  border-radius: 50%;
  transition: ease color .2s
}

.header .header-desktop .menu-controls {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: 1fr;
  gap: 8px
}

.header .header-desktop .menu-controls.is-auto {
  grid-auto-columns: auto
}



.container-fluid {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 32px
}

@media (max-width: 1199.98px) {
  .container-fluid {
    max-width:none
  }
}

@media (max-width: 991.98px) {
  .container-fluid {
    padding:0 20px
  }
}
.footer .footer-text {
  grid-area: text;
  font-weight: 400;
  font-size: 11px;
  line-height: 16px;
  color: #ffffff
}

@media (max-width: 767.98px) {
  .footer .footer-text {
    text-align:center
  }
}

.footer .copyright-text {
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
  color: #9b9ba8
}

@media (max-width: 767.98px) {
  .footer .copyright-text {
    text-align:center
  }
}

.footer .footer-logo {
  grid-area: logo;
  justify-self: start;
  display: grid
}

@media (max-width: 767.98px) {
  .footer .footer-logo {
    justify-self:center
  }
}

@media (max-width: 767.98px) {
  .container-fluid {
    padding:0
  }
}

.footer {
  padding: 40px 0
}

@media (max-width: 767.98px) {
  .footer {
    padding:40px 20px
  }
}